<section id="sidebar-github" class="well hidden-print">
  <h3><a style="color:black" href="https://github.com/{{ site.github.username }}" target="_blank"><i class="fa fa-info-circle"></i></a>&nbsp;Important Links</h3>
  <ul class="nav nav-list">
    <li><a href="https://datatracker.ietf.org/wg/rats/about/">IETF RATS WG</a></li>
    <li><a href="https://datatracker.ietf.org/wg/suit/about/">IETF SUIT WG</a></li>
    <li><a href="https://datatracker.ietf.org/wg/teep/about/">IETF TEEP WG</a></li>
    <li><a href="https://github.com/siot-hackathon/siot-hackathon.github.io/wiki/">SIoT Hackathon Wiki</a></li>
  </ul>
</section>
