<section id="sidebar-twitter" class="well hidden-print">
  <h3><i class="fa fa-twitter"></i>&nbsp;Tweets</h3>
  <a href="https://twitter.com/{{ site.twitter.username }}"
     class="twitter-follow-button"
     data-dnt="true"
     data-lang="{{ site.lang }}"
     data-show-count="{{ site.twitter.show_follower_count }}"
     data-show-screen-name="{{ site.twitter.show_screen_name }}"
  >Follow @{{ site.twitter.username }}</a>
  <a class="twitter-timeline" href="https://twitter.com/{{ site.twitter.username }}"
     data-widget-id="{{ site.twitter.widget_id }}" data-chrome="transparent noheader">Tweets by @{{ site.twitter.username }}</a>
</section>
